/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --dark-shadow: 0 2rem 6rem rgba(0,0,0,.6); }

* {
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%;
  font-family: 'open sans', sans-serif;
  box-sizing: border-box;
  background-image: linear-gradient(to bottom right, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: var(--color-grey-dark-2); }

*,
*::before,
*::after {
  box-sizing: inherit; }

.container {
  background-color: #fff;
  max-width: 120rem;
  margin: 10rem auto;
  min-height: 50rem;
  box-shadow: var(--dark-shadow); }

.header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-grey-light-4); }

.content {
  display: flex;
  background-color: var(--color-grey-light-2); }

.sidebar {
  flex: 0 0 18%;
  background-color: var(--color-grey-dark-1); }

.hotel-view {
  flex: 1; }

.header__logo {
  height: 3.25rem;
  width: 4.5rem;
  margin-left: 2rem; }

.searchbar {
  display: flex;
  align-items: stretch;
  flex: 0 1 40%;
  justify-content: center; }
  .searchbar__input {
    padding: 0.5rem 1.5rem;
    font-family: inherit;
    font-size: 1.6rem;
    width: 90%;
    background-color: var(--color-grey-light-2);
    border: none;
    border-radius: 100px;
    transition: all 0.3s; }
    .searchbar__input::-webkit-input-placeholder {
      color: var(--color-grey-light-4); }
    .searchbar__input:focus {
      width: 100%;
      outline: none; }
  .searchbar__icon-box {
    background-color: var(--color-grey-light-2);
    border: none;
    margin-left: -3rem;
    border-radius: 50%; }
  .searchbar__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-2); }

.user-nav {
  display: flex;
  align-items: stretch; }
  .user-nav > * {
    padding: 0.5rem 2rem;
    cursor: pointer;
    color: white; }
  .user-nav > *:hover {
    background-color: var(--color-grey-light-3); }
  .user-nav__icon-box {
    display: flex;
    position: relative;
    align-items: center; }
  .user-nav__icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--color-grey-dark-2); }
  .user-nav__notification {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    position: absolute;
    top: 1rem;
    right: 1rem; }
  .user-nav__profile {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .user-nav__profile-pic {
      height: 6rem;
      width: 6rem;
      border-radius: 50%; }
    .user-nav__profile-name {
      color: black;
      font-size: 1.6rem;
      margin-left: 1rem; }

.sidebar {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between; }

.side-nav {
  list-style: none;
  color: white;
  font-size: 1.4rem;
  margin-top: 3rem;
  text-transform: uppercase; }
  .side-nav__item {
    padding: 2rem 3rem;
    position: relative;
    cursor: pointer; }
    .side-nav__item:not(:last-child) {
      margin-bottom: 0.5rem; }
  .side-nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0.5rem;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s 0.2s cubic-bezier(1, 0, 0, 1);
    backface-visibility: hidden; }
  .side-nav__item:active::before {
    background-color: var(--color-primary-light); }
  .side-nav__item:hover::before, .side-nav__item--active::before {
    transform: scaleY(1);
    width: 100%;
    backface-visibility: hidden; }
  .side-nav__link:link, .side-nav__link:visited {
    text-decoration: none;
    color: var(--color-grey-light-2);
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;
    backface-visibility: hidden; }
  .side-nav__icon {
    width: 2rem;
    height: 2rem;
    fill: currentColor;
    margin-right: 2rem; }

.legal {
  text-align: center;
  font-size: 1.4rem; }

.gallery {
  display: flex; }
  .gallery__picture img {
    width: 100%;
    display: block; }

@keyframes popcontinuous {
  from {
    transform: scale(1.03); }
  50% {
    transform: scale(1); }
  to {
    transform: scale(1.03); } }

.overview {
  display: flex;
  border-bottom: 1px solid var(--color-grey-light-4);
  align-items: center; }
  .overview__hotel-name {
    text-transform: uppercase;
    margin: 0 2rem; }
  .overview__rating {
    display: flex;
    margin-right: auto; }
  .overview__icon--star {
    display: flex;
    height: 1.75rem;
    width: 1.75rem;
    fill: var(--color-primary); }
  .overview__location {
    display: flex;
    color: var(--color-primary);
    cursor: pointer;
    backface-visibility: hidden; }
    .overview__location--icon {
      height: 1.75rem;
      width: 1.75rem;
      fill: currentColor;
      backface-visibility: hidden; }
    .overview__location--name {
      font-size: 1.4rem;
      padding-bottom: .5rem;
      border-bottom: 1px solid currentColor;
      backface-visibility: hidden; }
    .overview__location:active {
      animation: popcontinuous .5s infinite;
      backface-visibility: hidden; }
  .overview__score {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    padding: 1.5rem;
    background-color: var(--color-primary);
    align-self: stretch;
    font-size: 1.2rem;
    color: #fff; }
    .overview__score--votes {
      text-transform: uppercase; }

.description {
  display: flex;
  padding: 3rem; }

.details {
  flex: 0 0 60%;
  margin-right: 3rem;
  padding: 3rem;
  background-color: var(--color-grey-light-1);
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.2);
  font-size: 1.4rem; }
  .details__paragraph {
    font-size: 1.4rem; }
  .details .paragraph:not(:last-of-type) {
    margin-bottom: 2rem; }
  .details__list {
    margin: 3rem 0;
    display: flex;
    list-style: none;
    flex-flow: wrap;
    border-top: 2px solid var(--color-grey-light-2);
    border-bottom: 2px solid var(--color-grey-light-2);
    padding: 3rem 0; }
  .details__item::before {
    content: "";
    display: inline-block;
    background-color: var(--color-primary);
    width: 1.5rem;
    height: 1.5rem;
    -webkit-mask-image: url(../img/chevron-thin-right.svg);
    -webkit-mask-size: cover;
    margin-right: .7rem; }
  .details__item {
    flex: 0 0 50%;
    margin-bottom: 2.5rem;
    display: flex;
    align-items: center; }
    .details__item:nth-last-child(2), .details__item:last-child {
      margin-bottom: 0; }
  .details__recommendation {
    display: flex;
    align-items: center; }
    .details__recommendation--message {
      margin-right: auto; }
    .details__recommendation--img {
      height: 3.5rem;
      width: 3.5rem;
      border-radius: 50%;
      box-sizing: content-box;
      border: 3px solid var(--color-grey-light-1); }
      .details__recommendation--img:not(:first-child) {
        margin-left: -1rem; }

.reviews {
  flex: 1; }
