.header__logo {
  height: 3.25rem;
  width: 4.5rem;
  margin-left: 2rem;
  @media only screen and (max-width: $bp-smallest) {
    height: 3rem;
    width: 4rem;
    margin-left: 1rem;
  }
}

.searchbar {
  display: flex;
  align-items: stretch;
  flex: 0 1 40%;
  // background-color: green;
  justify-content: center;

  @media only screen and (max-width: $bp-smallest) {
    order: 1;
    flex: 0 0 96%;
    align-self: center;
    margin: auto;
  }

  &__input {
    padding: 0.5rem 1.5rem;
    font-family: inherit;
    font-size: 1.6rem;
    width: 90%;
    background-color: var(--color-grey-light-2);
    border: none;
    border-radius: 100px;
    transition: all 0.3s;
    // margin-right: -2rem;
    &::-webkit-input-placeholder {
      color: var(--color-grey-light-4);
    }

    &:focus {
      width: 100%;
      outline: none;
    }
  }

  &__icon-box {
    background-color: var(--color-grey-light-2);
    border: none;
    margin-left: -3rem;
    border-radius: 50%;
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    // border-radius: 50%;
    fill: var(--color-grey-dark-2);
  }
}

.user-nav {
  display: flex;
  align-items: stretch;
  // background-color: red;

  & > * {
    padding: 0.5rem 2rem;
    cursor: pointer;
    color: white;
    @media only screen and (max-width: $bp-smallest) {
      padding: 0 1rem;
    }
  }

  & > *:hover {
    background-color: var(--color-grey-light-3);
  }

  &__icon-box {
    display: flex;
    position: relative;
    align-items: center;
  }

  &__icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--color-grey-dark-2);
  }

  &__notification {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    @media only screen and (max-width: $bp-smallest) {
      height: .6rem;
      width: .6rem;
      top: .1rem;
      right: .1rem;
    }
  }

  &__profile {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-pic {
      height: 6rem;
      width: 6rem;
      border-radius: 50%;
      @media only screen and (max-width: $bp-smallest) {
        height: 5rem;
        width: 5rem;
      }
    }

    &-name {
      color: black;
      font-size: 1.6rem;
      margin-left: 1rem;
    }
  }
}

////////////////////////
//// side nav bar
.sidebar {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.side-nav {
  list-style: none;
  color: white;
  font-size: 1.4rem;
  margin-top: 3rem;
  text-transform: uppercase;

  @media only screen and (max-width: $bp-medium) {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
  }

  &__item {
    padding: 2rem 3rem;
    position: relative;
    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
    cursor: pointer;
    @media only screen and (max-width: $bp-medium) {
      flex:1;
      display: flex;
      justify-content: center;
      & {
        &:not(:last-child) {
          margin-bottom: 0;
        }
      }
    }

    @media only screen and (max-width: $bp-small) {
      padding: 1rem 2rem;
      font-size: 1.2rem;
      align-self: stretch;
    }

    @media only screen and (max-width: $bp-smallest) {
      padding: 1rem 1rem;
    }
  }

  &__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0.5rem;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s 0.2s cubic-bezier(1, 0, 0, 1);
    backface-visibility: hidden;
  }

  &__item:active::before {
    background-color: var(--color-primary-light);
  }

  &__item:hover::before,
  &__item--active::before {
    transform: scaleY(1);
    width: 100%;
    backface-visibility: hidden;
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    color: var(--color-grey-light-2);
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;
    backface-visibility: hidden;
    @media only screen and (max-width: $bp-small){
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
    }
  }

  &__icon {
    width: 2rem;
    height: 2rem;
    fill: currentColor;
    margin-right: 2rem;
    @media only screen and (max-width: $bp-small){
      margin-right: 0;
    }
  }
}

////////////////////////
//// legal

.legal {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 2rem;
  @media only screen and (max-width: $bp-medium) {
    display: none;
  }
}

////////////////////////
//// gallery

.gallery {
  display: flex;

  &__picture img {
    width: 100%;
    display: block;
  }
}

/////////////////////
////// ANIMATION

@keyframes popcontinuous {
  from {
    transform: scale(1.03);
  }

  50% {
    transform: scale(1);
  }

  to {
    transform: scale(1.03);
  }
}


////////////////////////
//// overview

.overview {
  display: flex;  
  border-bottom: 1px solid var(--color-grey-light-4);
  align-items: center;
  justify-content: space-between;
  
  &__hotel-name {
    text-transform: uppercase;
    margin: 0 2rem;
    
    @media only screen and (max-width: $bp-small) {
      margin: 0 1rem;
      font-size: 1.2rem;
    }

    @media only screen and (max-width: $bp-smallest) {
      flex: 0 0 20%;
    }
  }

  &__rating {
    display: flex;
    margin-right: auto;
  }

  &__icon--star {
    display: flex;
    height: 1.75rem;
    width: 1.75rem;
    fill: var(--color-primary);
    @media only screen and (max-width: $bp-smallest) {
      height: 1.25rem;
      width: 1.25rem;
      flex: 0 0 20%;
    }
  }

  &__location {
    display: flex;
    align-items: center;
    color: var(--color-primary);
    cursor: pointer;
    backface-visibility: hidden;
    @media only screen and (max-width: $bp-smallest) {
      flex: 0 0 25%;
      align-self: center;
      justify-content: center;
    }
    
    &--icon {
      height: 1.75rem;
      width: 1.75rem;
      fill: currentColor;
      backface-visibility: hidden;
      padding-bottom: .5rem ;
      @media only screen and (max-width: $bp-smallest) {
        height: 2rem;
        width: 2rem;
        padding-bottom: 0;
        flex: 0 0 30%;
      }
    }

    &--name {
      font-size: 1.4rem;
      padding-bottom: .5rem ;
      border-bottom: 1px solid currentColor;
      backface-visibility: hidden;
      @media only screen and (max-width: $bp-smallest) {
        padding-bottom: 0;
      }
    }

    &:active {
      animation: popcontinuous .5s infinite;
      backface-visibility: hidden;
    }
  }

  &__score {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-left: 2rem ;
    padding: 1.5rem;
    background-color: var(--color-primary);
    align-self: stretch;
    font-size: 1.2rem;
    color: #fff;

    @media only screen and (max-width: $bp-smallest) {
      padding: 1rem;
      margin-left: 1rem;
    }
    
    &--votes {
      text-transform: uppercase;
    }
  }
}

/////////////////////////
//////// description

.description {
  display: flex;
  padding: 3rem;
  @media only screen and (max-width:$bp-medium) {
    padding: 1.5rem;
  }
  @media only screen and (max-width:$bp-small) {
    flex-flow: column nowrap;
  }
  @media only screen and (max-width:$bp-smallest) {
    padding: .5rem;
  }
}

///////////////////////
/////// details

.details {
  flex: 0 0 60%;
  margin-right: 3rem;
  padding: 3rem;
  background-color: var(--color-grey-light-1);
  box-shadow: 0 2rem 6rem rgba(0,0,0,.2);
  font-size: 1.4rem;

  @media only screen and (max-width:$bp-medium) {
    padding: 1.5rem;
  }

  @media only screen and (max-width:$bp-small) {
    margin-right:0;
  }

  &__paragraph {
    font-size: 1.4rem;
  }

  .paragraph {
    &:not(:last-of-type) {
      margin-bottom: 2rem;
    }
  }

  &__list {
    margin: 3rem 0;
    display: flex;
    list-style: none;
    flex-flow: wrap;
    border-top: 2px solid var(--color-grey-light-2);
    border-bottom: 2px solid var(--color-grey-light-2);
    padding: 3rem 0;
  }

  &__item::before{
    content: "";
    display: inline-block;
    background-color: var(--color-primary);
    width: 1.5rem;
    height: 1.5rem;
    -webkit-mask-image: url(../img/chevron-thin-right.svg);
    mask-image: url(../img/chevron-thin-right.svg);
    -webkit-mask-size: cover;
    mask-size: cover;
    margin-right: .7rem;
  }

  &__item {
    flex: 0 0 50%;
    margin-bottom: 2.5rem;
    &:nth-last-child(2),
    &:last-child {
      margin-bottom: 0;
    }
    // margin-bottom: 2.5rem;
    display: flex;
    align-items: center;
  } 

  &__recommendation {
    display: flex;
    align-items: center;

    &--message {
      margin-right: auto;
    }

    &--img {
      height: 3.5rem;
      width: 3.5rem;
      border-radius: 50%;
      box-sizing: content-box;
      &:not(:first-child) {
        margin-left: -1rem;
      }
      border: 3px solid var(--color-grey-light-1);
    }
  }
}


//////////////////////
/////// reviews

.review {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  font-size: 1.4rem;

  @media only screen and (max-width:$bp-small) {
    flex-flow: row wrap;
    justify-content: space-between;
  }

  &__box {
    padding: 3rem;
    background-color: #fff;
    box-shadow: 0 2rem 6rem rgba(0,0,0,.2);
    margin-bottom: 2rem;
    position: relative;
    margin-bottom: 4rem;
    overflow: hidden;
    @media only screen and (max-width:$bp-medium) {
      padding: 1.5rem;
    }
    @media only screen and (max-width:$bp-small) {
      flex: 0 0 48%;
      margin: 2rem 0;
      // margin: 1%;
    }

    @media only screen and (max-width:$bp-smallest) {
      flex: 0 0 100%;
      &:first-child{
        margin-top: 2rem;
        margin-bottom: 0;
      }
    }
  }

  &__text {
    margin-bottom: 2rem;
    position: relative;
    z-index: 10;
  }

  &__box::before {
      content: "\201C";
      display: block;
      position: absolute;
      font-family: sans-serif;
      top: -4rem;
      left: -1rem;
      font-size: 20rem;
      color: var(--color-grey-light-3);
  }

  &__more {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--color-primary);
    @media only screen and (max-width:$bp-small) {
      margin: 0 auto 2rem;
    }

    span {
      margin-left: 8px;
      transition: margin-left .3s;
      border-bottom: 1px solid currentColor;
    }

    &:hover span {
      margin-left: 12px;
      color: var(--color-primary-dark);
    }
  }
}

.user-box {
  display: flex;
  align-items: center;
  &__img {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    margin-right: 2rem;
  }

  &__name {
    margin-right: auto;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 300;
  }

  &__date{
    display: block;
    font-size: 1.2rem;
    color: var(--color-grey-dark-3);
  }

  &__rating{
    font-size: 2.2rem;
    font-weight: 300;
    color: var(--color-primary);
  }
}

/////////////////////////
/////// call to action

.cta {
  padding: 3rem;
  text-align: center;
  background-color: #fff;
  text-transform: uppercase;

  @media only screen and (max-width:$bp-smallest) {
    padding: 2rem;
  }

  &__heading {
    font-size: 2rem;
    font-weight: 350;
    margin-bottom: 3rem;
    @media only screen and (max-width:$bp-smallest) {
      margin-bottom: 1.5rem;
      font-size: 1.6rem;
    }
  }

  &__book-now {
    position: relative;
    overflow: hidden;
    border-radius: 100px;
    background-image: linear-gradient(to right , var(--color-primary-light), var(--color-primary-dark));
    color: #fff;
    border: none;
    transition: background-image .3s;
    outline: none;
    cursor: pointer;
    font-size: 2rem;
    @media only screen and (max-width:$bp-smallest) {
      font-size: 1.6rem;
    }

    & > * {
      display: inline-block;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
    }

    .visible {
      padding: 2rem 7.5rem;
      transition: transform .3s;
      @media only screen and (max-width: $bp-smallest) {
        padding: 1rem 5.5rem;
      }
    }

    .invisible {
      padding: 2rem;
      position: absolute;
      top: -100%;
      transition: top .3s;
      @media only screen and (max-width: $bp-smallest) {
        padding: 1rem;
      }
    }

    &:hover {
      background-image: linear-gradient(to left , var(--color-primary-light), var(--color-primary-dark));
    }

    &:hover .visible {
      transform: translateY(100%);
    }

    &:hover .invisible {
      top: 0;
    }

    &:active {
      animation: popcontinuous .4s infinite;
    }
  }
}

.legal-main {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  padding: 2rem;
  background-color: var(--color-grey-dark-1);
  display: none;
  @media only screen and (max-width: $bp-medium) {
    display: flex;
  }
  @media only screen and (max-width: $bp-small) {
    display: flex;
    font-size: 1.3rem;
    padding: 1rem;
  }
}