.container {
  background-color: #fff;
  max-width: 120rem;
  margin: 10rem auto;
  // min-height: 50rem;
  box-shadow: var(--dark-shadow);
  @media only screen and (max-width: 1200px) {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
}

.header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-grey-light-4);
  @media only screen and (max-width: $bp-smallest) {
    flex-wrap: wrap;
    align-content: space-around;
    height: 11rem;
  }
}

.content {
  display: flex;
  background-color: var(--color-grey-light-2);
  @media only screen and (max-width: $bp-medium) {
    flex-flow: column;
  }
}

.sidebar {
  flex: 0 0 18%;
  background-color: var(--color-grey-dark-1);
}

.hotel-view{
  flex: 1;
}